extends ../_layouts/main/index.jade

block content
    != css('team_season_stats/style')
    
    h3 Fantasy Sports Data
    p.lead Team Season Stats
    
    img(class='loading', src='/images/loading.gif')
    table#table
                
    != js('team_season_stats/app', { defer: true })
