extends ../_layouts/main/index.jade

block content
    != css('defense_projected_game_stats/style')
    
    h3 Fantasy Sports Data
    p.lead Defense Projection Game Stats
    
    table#table
                
    != js('defense_projected_game_stats/app', { defer: true })
