extends ../_layouts/main/index.jade

block content
    != css('defense_season_stats/style')
    
    h3 Fantasy Sports Data
    p.lead Defense Season Stats
    
    img(class='loading', src='/images/loading.gif')
    table#table
                
    != js('defense_season_stats/app', { defer: true })
