extends ../_layouts/main/index.jade

block content
    != css('player_season_stats/style')
    
    h3 Fantasy Sports Data
    p.lead Player Season Stats
    
    table#table
                
    != js('player_season_stats/app', { defer: true })
