extends ../_layouts/main/index.jade

block content
    != css("_vendor/datatables.net-dt/css/jquery.dataTables.min.css")
    != css("dashboard/style")
    
    != js("_vendor/lodash/lodash.min.js")
    != js("_vendor/jquery/dist/jquery.min.js")
    != js("_vendor/datatables.net/js/jquery.dataTables.min.js")
    != js("dashboard/app")
    
    #content
        .sport
            a nfl
            a mlb
            a nba
            
        hr

        .table
            //- table#datatable(class="display compact nowrap")
            table#datatable
                thead
