extends ../_layouts/main/index.jade

block content
    != css('dashboard/style')
    
    h3 Fantasy Sports Data
    p.lead Easily exportable to CSV and other formats
            
    table#table
                
    != js('dashboard/app', { defer: true })
