extends ../_layouts/main/index.jade

block content
    != css("dashboard/style")
    
    
    .inner.cover
        .table
            table#datatable(class="display compact nowrap")
                thead
                
    != js("dashboard/app")
