extends ../_layouts/main/index.jade

block content
    != css('defense_projected_season_stats/style')
    
    h3 Fantasy Sports Data
    p.lead Defense Projection Season Stats
    
    table#table
                
    != js('defense_projected_season_stats/app', { defer: true })
