html(lang="en")
    include ../../_partials/head.jade
    != css("_layouts/main/style")
    
    body
        include ../../_partials/header/index.jade
        
        block content
        
        include ../../_partials/footer/index.jade
